*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    
}
/* body{
    
    /* background-color: #ffffff;
    background-image: linear-gradient(132deg, #ffffff 0%, #36c331 100%); 

    
} */

/* nav style */

h1,h2{
    font-size: 2rem;
    font-weight: 500;
}
span,p,a{
    font-size: 1rem;
}
.nav__logo > img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-anchor{
    text-decoration: none;
}

/* slide show style */
.slideshow__cta__container {
    position: absolute;
    top: 13rem;
    left: 3rem;
  
   
}
.slideshow__cta__container > h2 {
    width: 22rem;
    color: #f5f5f5;
    line-height: 1.5;
}
.slideshow-container {
   height: 500px;
   margin-bottom: 3%;
 
  }
  .mySlides {
    display: none;
  }
  .mySlides > img {
    height: 500px !important;
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  /* btn */

  .btn {
    position: relative;
    font-size: 17px;
    margin-top: 1rem;
    /* text-transform: uppercase; */
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
   }
   
   .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
   }
   
   .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   }
   
   .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
   }
   
   .btn::after {
    background-color: #fff;
   }
   
   .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
   }


   /* main style  */

   .main {
    display: flex;
    align-items: center;
    margin-top: 3%;
}
.main__img__img{
    border-radius: 8%;
}
.main__text {
    margin-left: 12%;
    line-height: 2.5;
}

li.main__li {
    list-style: decimal-leading-zero;
    font-size: 1.2rem;
}

/* services style */

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2%;
    padding: 2%;
    margin-bottom: 3%;
  }
  .service {
    padding: 2%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin: 3%;
    border-radius: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service__h3{
    font-size: 1.5rem;
  }
  .service__ul {
    width: 400px;
    margin-top: 2rem;
    line-height: 1.5;
}

  /* footer style  */

  footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-logo {
    display: flex;
    flex-direction: column;
  }
  .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: CENTER;
    gap: 10px;
  }
  .social-icons-a {
    color: white;
  }
  h2.footer__title1 {
    font-size: 2rem;
  }
  i.fab {
    font-size: 200%;
    padding-bottom: 20%;
  }
  .footer__title {
    color: white;
    padding-bottom: 10%;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  
  .img__logo {
    width: 60px;
    border-radius: 10%;
  }
  ul.footer__ul {
    display: flex;
    flex-direction: column;
  }
  li.footer__li {
    padding-bottom: 5%;
  }
  .footer-logo img {
    max-width: 150px;
    height: auto;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .footer-links li {
    margin: 0 20px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .footer-contact {
    height: 200px;
  }
  
  .footer-contact p {
    margin: 5px 0;
  }
  


  @media (max-width: 767px) {
   
    .slideshow-container {
        height: 400px;
        margin-bottom: 3%;
    }
    .mySlides > img {
        height: 370px !important;
        object-fit: cover;
        width: 100%;
        height: auto;
    }
    

    .main {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 3%;
    }
    li.main__li {
        list-style: decimal-leading-zero;
        font-size: 1rem;
    }
    .main__img__img {
        border-radius: 8%;
        width: 75%;
    }
    .main__img {
        display: flex;
        justify-content: center;
    }
    .main__text {
        margin-left: 12%;
        line-height: 2;
    }
  


    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .service__ul {
        width: 300px;
    }
    span.service__desc {
        line-height: 2;
    }


    .footer-content {
        flex-direction: column;
      }
      .footer-content {
        flex-direction: column;
      }
    
      .footer-links {
        margin-top: 20px;
        text-align: center;
      }
  }


  .form-box {
    max-width: 300px;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;
  }
  
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
  }
  
  /*Form text*/
  .title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #666;
  }
  
  /*Inputs box*/
  .form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  }
  
  .form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
  }
  
  .form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
  }
  
  /*Button*/
  .form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .form button:hover {
    background-color: #005ce6;
  }


  .form__container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-a {
  margin-right: 2%;
}
span#usr {
  margin-right: 1rem;
  font-size: 1rem;
}



.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  border: 3px solid rgb(18, 130, 18);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
 }
 
 .btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(18, 130, 18);
  transform: translateX(-100%);
  transition: all .3s;
  z-index: -1;
 }
 
 .btn:hover::before {
  transform: translateX(0);
 }

 .nav-a {
  display: flex;
  align-items: center;
}

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background: url(./image/countries.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#countries{
  color: white;
  font-size: 3rem;
}
.country__div {
  display: flex;
  align-items: center;
  margin: 2rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0.5px );
  -webkit-backdrop-filter: blur( 0.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  justify-content: space-between;
  height: 100px;
  padding: 1rem;
}
img.country__img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 1rem;
}
